/* Font sizes */
html {
    --pst-font-size-h1: 200%;
    --pst-font-size-h2: 150%;
    --pst-font-size-h3: 120%;
    --pst-font-size-h4: 110%;
}

.sig-name {
    font-size: 0.9em;
}

/* Colors */
html {
    --pst-color-inline-code: black !important;
    --pst-color-primary: black !important;
    --pst-color-link: #005B81 !important;
}

.gitlab:before {
    color: #FD8206 !important;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0.2em !important;
    padding-left: 0.3em !important;
    text-shadow: 0px 1px 0 white;
    margin: 16px 0 10px 0 !important;
    border-radius: 0.15rem;
}

h1 {
    background-color: #BED4EB !important;
}

h2 {
    background-color: #C8D5E3 !important;
}

h3 {
    background-color: #D8DEE3 !important;
}

h4 {
    background-color: #D8DEE3 !important;
}

code {
    background-color: #F7F9FB !important;
    border: 1px solid #EEEBEE !important;
}

h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
    background-color: transparent !important;
    border: none !important;
}

a code {
    font-weight: normal !important;
}

pre {
    background-color: #FCFCFC !important;
}

a.lang-text {
    color: black !important;
}

/* Paragraph spacing */
p {
    line-height: 1.5em !important;
    margin-bottom: 10px;
}

/* Prevent navigation bar icons from wrapping at small widths */
#navbar-end {
    flex-wrap: nowrap !important;
}

#main-content img {
    padding-top: 10px;
    padding-bottom: 15px;
}

/* Output images */
.lilypond-output-collapsible summary {
    padding-bottom: 0.6em;
    padding-left: 0.3em;
    font-style: italic;
}
