<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Extending LilyPond</title>
    <!--
      Language selection strategy:

      Suppose you are posting a link to a page on
      https://extending-lilypond.gitlab.io somewhere. You will likely just copy
      from your browser's address bar, so you get a link for a page in your
      language. Your target readers likely speak the same language, so it's good
      to have this link consistently render in that language.  For this reason,
      internal links inside https://extending-lilypond.gitlab.io/LANG/...
      always point to the same language consistently. This has the advantage
      that if you speak several languages (e.g., you follow lilypond-user and
      lilypond-user-fr), you will always see the same content as the person
      posting a link. In the (hopefully) rare case where someone sees a link to
      a page in language they don't speak, the language selection menu at the
      top should (hopefully) be visible enough.

      However, we have a special case for the address of top-level domain
      itself, i.e., https://extending-lilypond.gitlab.io. If you just want to
      link to the resource in general, you are likely to remove the stuff after
      the first "/", which strips the LANG part. In this case only, we guess the
      language. That's what this page does.

      Perhaps better would be to make sub-subdomains like
      LANG.extending-lilypond.gitlab.io, but GitLab doesn't support this. See

      https://docs.gitlab.com/ee/user/project/pages/introduction.html#subdomains-of-subdomains
      -->
    <script>
      {% for lang in langs %}
      {% if not loop.first %}
      else
      {% endif %}
      if (navigator.language.startsWith("{{ lang }}")) {
        window.location.href = "{{ lang }}/index.html";
      }
      {% endfor %}
      else {
          window.location.href = "en/index.html";
      }
    </script>
  </head>
</html>
